
<section>
  <h3>Projects</h3>
  <p>Things I’ve built so far</p>

  <div class="project-list">
    <app-project-card
    title="Travel More"
    description="Public-facing web application where I contributed to the full development lifecycle, from project architecture to final implementations before product release"
    [techStack]="['HTML', 'CSS', 'TS', 'Angular']"
    image="assets/travelmore.png"
    liveLink="Unavailable"
    codeLink="Private Repository"
    ></app-project-card>

    <app-project-card
    title="Python Bot for EVE Echoes Automation"
    description="Python bot designed to automate tasks in EVE Echoes, optimizing resource tracking and market analysis."
    [techStack]="['Python', 'ORC']"
    image=""
    liveLink="#"
    codeLink="https://github.com/argenismahath/bot_eve_echoes"
    ></app-project-card>

    <app-project-card
    title="Hotel Booking app"
    description="A functional hotel booking application designed to streamline reservations and enhance user experience."
    [techStack]="['Angular', 'TypeScript', 'CSS', 'Node js']"
    image="assets/booking.png"
    liveLink="https://example.com"
    codeLink="https://github.com/example"
    ></app-project-card>

    <app-project-card
    title="Project 4"
    description="Another sample project description."
    [techStack]="['Angular', 'TypeScript']"
    image="https://via.placeholder.com/300x150"
    liveLink="https://example.com"
    codeLink="https://github.com/example"
    ></app-project-card>

  </div>

</section>
