<section class="tech-stack">
  <header>
    <h3>My Tech Stack</h3>
  </header>
  <article class="intro">
    <p>Technologies I’ve been working with recently</p>
  </article>
  <div class="tech-list">
    <ul>
      <li>
        <img src="assets/html-5.png" alt="React logo">
      </li>
      <li>
        <img src="assets/css-3.png" alt="JavaScript logo">
      </li>
      <li>
        <img src="assets/js.png" alt="Django logo">
      </li>
      <li>
        <img src="assets/typescript.png" alt="Angular logo">
      </li>
      <li>
        <img src="assets/physics.png" alt="Node.js logo">
      </li>
      <li>
        <img src="assets/programing.png" alt="Python logo">
      </li>

      <li>
        <img src="assets/python.png" alt="Flutter logo">
      </li>
      <li>
        <img src="assets/social.png" alt="HTML5 logo">
      </li>
      <li>
    </ul>
  </div>
</section>
